@model IEnumerable<AMR.Models.ProviderModel>


<select class = "txt  ui-corner-all bcom" style = "width:400px;" id = "cmbAppointmentDoctor1">
@if (Model != null)
{
    foreach (AMR.Models.ProviderModel item in Model)
    {
    <option value="@item.ProviderId.ToString()">
        @item.FullName.ToString()
    </option>

    }
}
else
{
    <option value="-1">
      -- Select --
    </option>
}
    
</select>