<table class="box-table-a" id="tbl-Statement" summary="Statement">
                    <thead>
                        <tr>
                            <th scope="col">Statement</th>
                            <th scope="col">Balance</th>
                            <th scope="col">Pay</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr class="r1">
                            <td scope="col">Family Physicians </td>
                            <td scope="col"> $3,000</td>
                            <td scope="col"><img src="/Content/img/Dollar.png" /></td>
                    </tr>
                    </tbody>
</table>