<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Environment" value="Debug" />
	  
	   <add key="ReportServerDomain" value="HHG-VM-D-DB01" />
	   <add key="ReportServerURL" value="http://chartzonemddev.com/reportserver" />
	   <add key="ReportServerUser" value="reportuser" />
	  <add key="ReportServerPassword" value="ssrsreport" />
	  
    <add key="RedirectToProviderHome" value="http://localhost:31426/" />
    <add key="InactivityTimeout" value="120000" />
  </appSettings>
  <system.web>
	  <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <httpRuntime targetFramework="4.5" />
	  <compilation debug="true" targetFramework="4.5" >
		   <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
	  </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
   
    <sessionState mode="InProc" timeout="60"></sessionState>

    <authentication mode="Forms">
      <!-- Autologout after xxx min. to login -->
      <forms name=".Admin" loginUrl="~/Login" defaultUrl="~/Login" slidingExpiration="true" timeout="60" />
    </authentication>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
	   </handlers>
    </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PatientDocumentWSSoap" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        <binding name="PatientWSSoap" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        <binding name="ProviderWSSoap" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        <binding name="MessageWSSoap" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        <binding name="ConfigWSSoap" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        <binding name="AuthenticationWSSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="DirectWSSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61065/PatientDocumentService.asmx" binding="basicHttpBinding" bindingConfiguration="PatientDocumentWSSoap" contract="DataPatientDocumentService.PatientDocumentWSSoap" name="PatientDocumentWSSoap" />
      <endpoint address="http://localhost:61065/PatientService.asmx" binding="basicHttpBinding" bindingConfiguration="PatientWSSoap" contract="DataPatientService.PatientWSSoap" name="PatientWSSoap" />
      <endpoint address="http://localhost:61065/ProviderService.asmx" binding="basicHttpBinding" bindingConfiguration="ProviderWSSoap" contract="DataProviderService.ProviderWSSoap" name="ProviderWSSoap" />
      <endpoint address="http://localhost:61065/MessageService.asmx" binding="basicHttpBinding" bindingConfiguration="MessageWSSoap" contract="DataMessageService.MessageWSSoap" name="MessageWSSoap" />
      <endpoint address="http://localhost:61065/ConfigService.asmx" binding="basicHttpBinding" bindingConfiguration="ConfigWSSoap" contract="DataPatientConfigService.ConfigWSSoap" name="ConfigWSSoap" />
      <endpoint address="http://localhost:61065/AuthenticationService.asmx" binding="basicHttpBinding" bindingConfiguration="AuthenticationWSSoap" contract="DataAuthenticationService.AuthenticationWSSoap" name="AuthenticationWSSoap" />
      <endpoint address="http://localhost:61065/DirectService.asmx" binding="basicHttpBinding" bindingConfiguration="DirectWSSoap" contract="DataDirectService.DirectWSSoap" name="DirectWSSoap" />
    </client>
  </system.serviceModel>
</configuration>