body {
}
     div.ui-btn, input[type="submit"]
{
    border:0px solid red !important;
    text-decoration:none !important;
    font-family:helvetica !important;
   width:105px;
   height:32px;
   cursor:pointer;
    background:url(../img/login_btn.png) repeat-x;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Verdana', Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-image: url(../img/wild_oliva.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:100%;

	
	}


#wrapper {
	position: absolute;
	width: 1000px;
	height: 884px;
	z-index: 1;
	margin-left: -490px;
	left: 50%;
	border-radius: 25px;
	border: 1px solid #a1a1a1;
	background-image:url(../img/b.png);
	
}
#Box_1 {
	position: absolute;
	width: 40%;
	height: 270px;
	z-index: 1;
	left: 2px;
	top: 202px;
	border-radius: 25px;
	/*border: 1px solid #a1a1a1;*/
	box-shadow: 5px 10px 5px #dcdcdc;
	margin-left: 5%;
	float: none;
	background-image: url(../img/bg.png);
}
#Box_2 {
	position: absolute;
	width: 40%;
	height: 270px;
	z-index: 1;
	left: 537px;
	top: 203px;
	border-radius: 25px;
	/*border: 1px solid #a1a1a1;*/
	box-shadow: 5px 10px 5px #dcdcdc;
	margin-right: 5%;
	float: none;
	background-image: url(../img/big-banner.png);
}


#Box_3 {
	position: absolute;
	width: 40%;
	height: 270px;
	z-index: 1;
	left: 537px;
	top: 517px;
	border-radius: 25px;
	/*border: 1px solid #a1a1a1;*/
	box-shadow: 5px 10px 5px #dcdcdc;
	margin-right: 5%;
	float: none;
	background-image: url(../img/blue.png);
}
#Box_4 {
	position: absolute;
	width: 40%;
	height: 270px;
	z-index: 1;
	left: 51px;
	top: 516px;
	border-radius: 25px;
	/*border: 1px solid #a1a1a1;*/
	box-shadow: 5px 10px 5px #dcdcdc;
	margin-right: 5%;
	float: none;
	background-image: url(../img/d.jpg);
}


#Box_1:hover {
    border: 2px solid #dcdcdc;
	box-shadow: 5px 10px 5px #ccc;
}

#Box_2:hover {
    border: 2px solid #dcdcdc;
	box-shadow: 5px 10px 5px #ccc;
}

#Box_3:hover {
    border: 2px solid #dcdcdc;
	box-shadow: 5px 10px 5px #ccc;
}

#Box_4:hover {
    border: 2px solid #dcdcdc;
	box-shadow: 5px 10px 5px #ccc;
}


#apDiv1 {
	position: absolute;
	width: 1000px;
	height: auto;
	z-index: 2;
	left: 0px;
	top: 1px;
	background-color: #fff;
	-webkit-border-top-left-radius: 25px;
-webkit-border-top-right-radius: 25px;
-moz-border-radius-topleft: 25px;
-moz-border-radius-topright: 25px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
}
#tabl {
	position: absolute;
	width: 296px;
	height: auto;
	z-index: 1;
	left: 89px;
	top: 1px;
}
.tb7 {
	width: 236px;
	color : #000;
	height:15px;
	border:1px solid #dcdcdc;
	padding:4px 8px;
	margin-bottom:0px;
	border-radius: 10px;
}

#apDiv2 {
	position: absolute;
	width: 69px;
	height: 62px;
	z-index: 2;
	left: 13px;
	top: 16px;
}
#apDiv9 {
	position: absolute;
	width: 45px;
	height: 62px;
	z-index: 2;
	left: 43px;
	top: 165px;
}
#apDiv3 {
	position: absolute;
	width: 81px;
	height: 79px;
	z-index: 1;
	left: 25px;
	top: 25px;
}
#apDiv4 {
	position: absolute;
	width: 73px;
	height: 73px;
	z-index: 1;
	left: 24px;
	top: 15px;
}
#apDiv5 {
	position: absolute;
	width: auto;
	height: 175px;
	z-index: 2;
	left: 103px;
	top: 10px;
}
#apDiv6 {
	position: absolute;
	width: 327px;
	height: auto;
	z-index: 3;
	left: 48px;
	top: 211px;
}
#apDiv7 {
	position: absolute;
	width: 359px;
	height: auto;
	font-family: 'Verdana', Arial, Helvetica, sans-serif;
	font-size: 20px;
	z-index: 2;
	left: 587px;
	top: 54px;
}
#apDiv8 {
	position: absolute;
	width: 385px;
	height: 24px;
	font-family: 'Verdana', Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 15px;
	z-index: 3;
	left: 587px;
	top: 85px;
}