<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="AMREntities" connectionString="metadata=res://*/AMRDataModel.csdl|res://*/AMRDataModel.ssdl|res://*/AMRDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=74.85.128.129;initial catalog=AMR;persist security info=True;user id=ClinicalUser;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>

