<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DirectWSSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="PatientWSSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="DirectWSSoap1" />
        <binding name="PatientDocumentWSSoap1" />
        <binding name="MessageWSSoap" />
        <binding name="AuthenticationWSSoap" />
        <binding name="AuthenticationWSSoap1" />
        <binding name="ProviderWSSoap" />
        <binding name="ConfigWSSoap" />
        <binding name="PatientWSSoap1" />
        <binding name="PatientDocumentWSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61065/DirectService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DirectWSSoap"
        contract="DataDirectService.DirectWSSoap" name="DirectWSSoap" />
      <endpoint address="http://localhost:61065/DirectService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DirectWSSoap1"
        contract="DataDirectService.DirectWSSoap" name="DirectWSSoap1" />
      <endpoint address="http://localhost:61065/PatientDocumentService.asmx"
        binding="basicHttpBinding" bindingConfiguration="PatientDocumentWSSoap1"
        contract="DataPatientDocumentService.PatientDocumentWSSoap"
        name="PatientDocumentWSSoap1" />
      <endpoint address="http://localhost:61065/MessageService.asmx"
        binding="basicHttpBinding" bindingConfiguration="MessageWSSoap"
        contract="DataMessageService.MessageWSSoap" name="MessageWSSoap" />
      <endpoint address="http://localhost:61065/AuthenticationService.asmx"
        binding="basicHttpBinding" bindingConfiguration="AuthenticationWSSoap"
        contract="DataAuthenticationService.AuthenticationWSSoap" name="AuthenticationWSSoap" />
      <endpoint address="http://localhost:61065/AuthenticationService.asmx"
        binding="basicHttpBinding" bindingConfiguration="AuthenticationWSSoap1"
        contract="DataAuthenticationService.AuthenticationWSSoap" name="AuthenticationWSSoap1" />
      <endpoint address="http://localhost:61065/ProviderService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProviderWSSoap"
        contract="DataProviderService.ProviderWSSoap" name="ProviderWSSoap" />
      <endpoint address="http://localhost:61065/ConfigService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ConfigWSSoap"
        contract="DataPatientConfigService.ConfigWSSoap" name="ConfigWSSoap" />
      <endpoint address="http://localhost:61065/PatientService.asmx"
        binding="basicHttpBinding" bindingConfiguration="PatientWSSoap1"
        contract="DataPatientService.PatientWSSoap" name="PatientWSSoap" />
      <endpoint address="http://localhost:61065/PatientDocumentService.asmx"
        binding="basicHttpBinding" bindingConfiguration="PatientDocumentWSSoap"
        contract="DataPatientDocumentService.PatientDocumentWSSoap"
        name="PatientDocumentWSSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>